services:
  postgres:
    image: postgres:16.3
    container_name: lynx-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATBASE_PASSWORD}
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    ports:
      - ${DATABASE_PORT}:5432

  redis:
    image: redis:7.2.5
    container_name: lynx-redis
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - ${REDIS_PORT}:6379

volumes:
  data:
    driver: local

networks:
  app-tier:
    driver: bridge
