  <table style="background-color: #ffffff; max-width: 600px; margin: auto; border: none; border-collapse: collapse;">
    <!-- Header Section -->
    <tr>
      <td style="padding: 20px 0;">
        <h1 style="font-family: Arial, sans-serif;font-size: 24px; margin: 0;">Lynx Game Reminder</h1>
      </td>
    </tr>
    <!-- Content Section -->
    <tr>
      <td style="padding: 20px; font-family: Arial, sans-serif;font-size: 16px; line-height: 1.5; text-align: center;">
        Hello User,
        ready to have some fun!? You've got a group Lynx game coming up in {{reminderMinutes}} minutes.
      </td>
    </tr>
    <tr>
      <td style="padding: 20px; font-family: Arial, sans-serif;font-size: 16px; line-height: 1.5; text-align: center;">
        <a href="{{link}}">Click Here</a> to log in and join the countdown.
      </td>
    </tr>
  </table>
