name: Deploy to gametrix server
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: pnpm install

      - name: Create .env file
        run: |
          echo

      - name: Deploy with pm2
        run: |
          pm2 stop all || true
          pm2 start
          pm2 save
